{% extends 'layouts/app.html' %}
{% load static %}

{% block style %}
  <link rel='stylesheet' href='{% static 'css/register.css' %}'>
{% endblock style %}

{% block title %}
Register - DelishDish
{% endblock title %}

{% block header %}
  {% include 'components/header.html' %}
{% endblock header %}

{% block content %}
{% for field, errors in form.errors.items %}
  {% for error in errors %}
    {{ error }}
  {% endfor %}
{% endfor %}
<div id='register-container'>
  <form id='form-register-container' action="" method="POST">
    <p id='register-label'>Register to DelishDish</p>
    {% csrf_token %}
    <div class='input-group'>
      {{ form.first_name }}
      {% if form.errors.first_name %}
        <small class='error-message'>*{{ error_messages.first_name.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      {{ form.last_name }}
      {% if form.errors.last_name %}
        <small class='error-message'>*{{ error_messages.last_name.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      {{ form.email }}
      {% if form.errors.email %}
        <small class='error-message'>*{{ error_messages.email.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      {{ form.password1 }}
      {% if form.errors.password1 %}
        <small class='error-message'>*{{ error_messages.password1.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      {{ form.password2 }}
      {% if form.errors.password2 %}
        <small class='error-message'>*{{ error_messages.password2.0.message }}</small>
      {% endif %}
    </div>
    <input id='register-button' class='header-button' type='submit' value='Register'>
  </form>
</div>
{% endblock content %}
