{% extends 'layouts/app.html' %}

{% load static %}

{% block title %}
Welcome to DelishDish
{% endblock title %}

{% block content %}
<div class='wrapper'>
  <div class='carousel-container' id='main-carousel'>
    <div id='carousel'>
      <div class='carousel-item' data-id='1'>
        <img src='{% static 'img/carousel-01.jpg' %}'>
      </div>
      <div class='carousel-item' style='display: none' data-id='2'>
        <img src='{% static 'img/carousel-02.jpg' %}'>        
      </div>
      <div class='carousel-item' style='display: none' data-id='3'>
        <img src='{% static 'img/carousel-03.jpg' %}'>
      </div>
      <div class='carousel-item' style='display: none' data-id='4'>
        <img src='{% static 'img/carousel-01.jpg' %}'>
      </div>
      <div class='carousel-item' style='display: none' data-id='5'>
        <img src='{% static 'img/carousel-02.jpg' %}'>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src='{% static 'js/carousel.js' %}'></script>
{% endblock scripts %}
