body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* header css start */
header {
  width: 100%;
  height: 70px;
  background-color: #0000000d; /* when scroll header change color to #92beeb */
  position: fixed;
  z-index: 5;
}

header img {
  border: solid 1px #92beeb;
  background-color: white;
  padding: 5px;
  width: 69px !important;
  height: 55px !important;
  border-radius: 59px;
}

#header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header-logo {
  display: flex;
  align-items: center;
}

#header-logo, #header-logo img {
  width: 60px;
  height: 70px;
  padding-left: 5px;
  margin-left: 5px;
}

#header-text {
  color: #ffff;
  font-size: 1.2em;
  font-weight: 500;
}

#header-button-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
}

.header-button {
  margin: 0px 5px;
  border: solid 1px white;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.header-button:hover {
  background-color: white;
  color: #92beeb;
}

/* header css end */

/* carousel css start */
#main-carousel {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100%;
}

#carousel, .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
