{% extends 'layouts/app.html' %}
{% load static %}

{% block style %}
  <link rel='stylesheet' href='{% static 'css/login.css' %}'>
{% endblock style %}

{% block title %}
Login - DelishDish
{% endblock title %}

{% block header %}
  {% include 'components/header.html' %}
{% endblock header %}

{% block content %}
<div id='login-container'>
  <form action='{% url 'login' %}' method='POST' id='login-form'>
    <p id='login-label'>Login to DelishDish</p>
    {% csrf_token %}
    <div class='input-group'>
      {{ form.username }}
      {% if form.errors.username %}
        <small class='error-message'>*{{ error_messages.username.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      {{ form.password }}
      {% if form.errors.password %}
        <small class='error-message'>*{{ error_messages.password.0.message }}</small>
      {% endif %}
    </div>
    <div class='input-group'>
      <input type='submit' class='header-button' id='login-button' value='login'>
    </div>
    <hr>
    <p><small>Forgot password?&nbsp;<a href='#'>click here</a></small></p>
  </form>
</div>
{% endblock content %}
