<div id='header-dropdown-container'></div>
<div id='header-wrapper'>
  <div id='header-logo'>
    {% load static %}
    <img src='{% static 'img/food-no-bg.png' %}'>
    <p id='header-text'>DelishDish</p>
  </div>
  
  <div id='header-button-wrapper'>
    {% if request.user.is_authenticated %}
      {% if request.resolver_match.url_name != 'login' or request.resolver_match.url_name != 'register' %}
        <div id='header-user-profile'></div><small id='header-user-name'>{{ request.user.first_name}} {{request.user.last_name }}</small>
        <div id='header-dropdown'>
          <a href='#'><p class='dropdown-item'>Profile</p></a>
          <a href='{% url 'logout' %}'><p class='dropdown-item'>Logout</p></a>
        </div>
      {% endif %}
    {% else %}
      <a class='header-button' href='{% url 'login' %}' style='display: {% if request.resolver_match.url_name == 'login' %} none {% endif %}'>login</a>
      <a class='header-button' href='{% url 'register' %}' style='display: {% if request.resolver_match.url_name == 'register' %} none {% endif %}'>sign-up</a>
    {% endif %}
  </div>
</div>
